@font-face {
  font-family: Lato;
  src: url(./Lato-Light.ttf);
}

:root{
  --background-color: #343233;
  --nav-color: #D9492E;
  --nav-hover: #9B2F1C;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */


html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: var(--background-color);
}



@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300px;
  letter-spacing: 2px;
  font-size:48px;
  text-align: center;
  margin-bottom: 0.8rem;
  color: white;
}

p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  color: #f5f5f5;
}

h2 {
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 35px;
  text-align: center;
  margin-bottom: 0.8rem;
}

/* nav */
.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--nav-color);
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
  font-family: 'Lato', sans-serif;
  color: white;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.nav-list a:hover {
  background: var(--nav-hover);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  justify-content: center;
  align-items: center;
}

/* Welcome section */
.welcome_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.description {
  font-style: italic;
  font-size:18px;
}

.link-home {
  font-size: 23px;
  margin-top: 10vh;
  background-color: var(--nav-color);
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}

.link-home:hover {
  background-color: var(--nav-hover);
  transition: background-color 1s;
}

.text-about {
  width: 750px;
  display: grid;
  place-items: center;
  text-align: justify;
  padding: 90px 100px 0px 100px;

}
.About {
  margin-bottom: 20vh;
  display: grid;
  place-items: center;
}

.About > iframe {

  display: block;
  margin: auto;

}
.About > h2 {
  padding-top: 15vh;
}
.About > p {
  padding: 20px 100px 50px 100px;
  text-align: justify;
  width:900px;
}

.Download_element > p {
  font-size: 20px;
  padding: 20px 0px 5px 0px;

}

.Download_option {
  font-size: 17px;
  align-items: center;
  justify-content: center;
  display: block;
  width: 550px;
  height: 4.7rem;
  padding: 0.4rem 0.9rem;
  color: #9da1a5;
  border-clip: padding-box;
  border-radius: 0.3rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#Download {
  margin: 40vh 0px 100vh 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
}

#Download > h2 {
  padding-top: 80vh;
}

.submit-button {
  font-size: 20px;
  width: 550px;
  height: 50px;
  margin: 35px 0px 0px 0px;
  border: 0;
  border-radius: 3px;
  background-color: var(--nav-color);
}

.submit-button:hover {
  background-color: var(--nav-hover);
  transition: background-color 1s;
}

#First_steps {
  display: grid;
  place-items: center;
  margin: 50vh 0px 100vh 0px;

}

#First_steps > h2 {
  padding-top: 20vh;
}

#First_steps > p {
  width: 750px;
  margin-top: 30px;
}

ol {
  list-style-type: upper-roman;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size: 17px;
  color: #f5f5f5;
  margin: 30px 0px 0px 40px;
  width: 750px;
}

code {
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
  line-height: 2;
  background-color: #2a2829;
  padding: 15px;
  margin: 10px 0px 0px 0px;
  width: 750px;
  border-radius: 5px;
}

.Results_charts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-items: center;
  width: 100%;
  height: 76vh;
}

.Results_charts h2 {
  padding: 2vh 0px 10px 0px;
}

.Results_charts p {
  padding: 18px 100px 50px 100px;
  width:650px;
  text-align: justify;
}

.report-button {
  padding-top: 4vh;

}

.report {
  display: flex;
  font-size: 18px;
  background-color: var(--nav-color);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}

.query {
  font-size: 18px;
  background-color: var(--nav-color);
  border-radius: 5px;
  padding: 10px;
  margin-left: 60px;
  font-weight: bold;
  border: 0;
}

.redefine {
  font-size: 18px;
  background-color: var(--nav-color);
  border-radius: 5px;
  padding: 10px;
  margin-left: 20px;
  font-weight: bold;
  border: 0;
}

#Citation {
  margin: 50vh 0px 100vh 0px;
  display: grid;
  place-items: center;
}

#Citation > h2 {
  padding-top: 20vh;
}

#Citation > p {
  width: 900px;
  align-text: justify;
}

.links {
  color: var(--nav-color);
  font-weight: bold;
}

.superscript {
  margin-top: 20px;
  font-size: 15px;
}

#Help {
  margin: 50vh 0px 0px 0px;
  padding-bottom: 70vh;
  display: grid;
  place-items: center;
}

#Help > h2 {
  padding-top: 20vh;
}

#Help > p {
  align-text: justify;
  width: 750px;
  margin:10px 0px 0px 0px;

}
